# Скрываем токены и пароли (КРИТИЧЕСКИ ВАЖНО)
.env

# Виртуальное окружение
venv/
env/
.venv/

# Кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log
logs/

# Базы данных (на случай если остались старые файлы SQLite)
*.sqlite3
*.db

# Файлы редакторов и ОС
.idea/
.vscode/
.DS_Store
ecosystem.config.js